.ma-0 {
    margin: 0upx !important;
}

.ma-1 {
    margin: 20upx !important;
}

.ma-2 {
    margin: 40upx !important;
}

.ma-3 {
    margin: 60upx !important;
}

.ma-4 {
    margin: 80upx !important;
}

.ma-5 {
    margin: 100upx !important;
}

.ma-6 {
    margin: 120upx !important;
}

.ma-7 {
    margin: 140upx !important;
}

.ma-8 {
    margin: 160upx !important;
}

.ma-9 {
    margin: 180upx !important;
}

.ma-10 {
    margin: 200upx !important;
}

.ma-11 {
    margin: 220upx !important;
}

.ma-12 {
    margin: 240upx !important;
}

.ma-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0upx !important;
    margin-left: 0upx !important;
}

.mx-1 {
    margin-right: 20upx !important;
    margin-left: 20upx !important;
}

.mx-2 {
    margin-right: 40upx !important;
    margin-left: 40upx !important;
}

.mx-3 {
    margin-right: 60upx !important;
    margin-left: 60upx !important;
}

.mx-4 {
    margin-right: 80upx !important;
    margin-left: 80upx !important;
}

.mx-5 {
    margin-right: 100upx !important;
    margin-left: 100upx !important;
}

.mx-6 {
    margin-right: 120upx !important;
    margin-left: 120upx !important;
}

.mx-7 {
    margin-right: 140upx !important;
    margin-left: 140upx !important;
}

.mx-8 {
    margin-right: 160upx !important;
    margin-left: 160upx !important;
}

.mx-9 {
    margin-right: 180upx !important;
    margin-left: 180upx !important;
}

.mx-10 {
    margin-right: 200upx !important;
    margin-left: 200upx !important;
}

.mx-11 {
    margin-right: 220upx !important;
    margin-left: 220upx !important;
}

.mx-12 {
    margin-right: 240upx !important;
    margin-left: 240upx !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0upx !important;
    margin-bottom: 0upx !important;
}

.my-1 {
    margin-top: 20upx !important;
    margin-bottom: 20upx !important;
}

.my-2 {
    margin-top: 40upx !important;
    margin-bottom: 40upx !important;
}

.my-3 {
    margin-top: 60upx !important;
    margin-bottom: 60upx !important;
}

.my-4 {
    margin-top: 80upx !important;
    margin-bottom: 80upx !important;
}

.my-5 {
    margin-top: 100upx !important;
    margin-bottom: 100upx !important;
}

.my-6 {
    margin-top: 120upx !important;
    margin-bottom: 120upx !important;
}

.my-7 {
    margin-top: 140upx !important;
    margin-bottom: 140upx !important;
}

.my-8 {
    margin-top: 160upx !important;
    margin-bottom: 160upx !important;
}

.my-9 {
    margin-top: 180upx !important;
    margin-bottom: 180upx !important;
}

.my-10 {
    margin-top: 200upx !important;
    margin-bottom: 200upx !important;
}

.my-11 {
    margin-top: 220upx !important;
    margin-bottom: 220upx !important;
}

.my-12 {
    margin-top: 240upx !important;
    margin-bottom: 240upx !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0upx !important;
}

.mt-1 {
    margin-top: 20upx !important;
}

.mt-2 {
    margin-top: 40upx !important;
}

.mt-3 {
    margin-top: 60upx !important;
}

.mt-4 {
    margin-top: 80upx !important;
}

.mt-5 {
    margin-top: 100upx !important;
}

.mt-6 {
    margin-top: 120upx !important;
}

.mt-7 {
    margin-top: 140upx !important;
}

.mt-8 {
    margin-top: 160upx !important;
}

.mt-9 {
    margin-top: 180upx !important;
}

.mt-10 {
    margin-top: 200upx !important;
}

.mt-11 {
    margin-top: 220upx !important;
}

.mt-12 {
    margin-top: 240upx !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-0 {
    margin-right: 0upx !important;
}

.mr-1 {
    margin-right: 20upx !important;
}

.mr-2 {
    margin-right: 40upx !important;
}

.mr-3 {
    margin-right: 60upx !important;
}

.mr-4 {
    margin-right: 80upx !important;
}

.mr-5 {
    margin-right: 100upx !important;
}

.mr-6 {
    margin-right: 120upx !important;
}

.mr-7 {
    margin-right: 140upx !important;
}

.mr-8 {
    margin-right: 160upx !important;
}

.mr-9 {
    margin-right: 180upx !important;
}

.mr-10 {
    margin-right: 200upx !important;
}

.mr-11 {
    margin-right: 220upx !important;
}

.mr-12 {
    margin-right: 240upx !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0upx !important;
}

.mb-1 {
    margin-bottom: 20upx !important;
}

.mb-2 {
    margin-bottom: 40upx !important;
}

.mb-3 {
    margin-bottom: 60upx !important;
}

.mb-4 {
    margin-bottom: 80upx !important;
}

.mb-5 {
    margin-bottom: 100upx !important;
}

.mb-6 {
    margin-bottom: 120upx !important;
}

.mb-7 {
    margin-bottom: 140upx !important;
}

.mb-8 {
    margin-bottom: 160upx !important;
}

.mb-9 {
    margin-bottom: 180upx !important;
}

.mb-10 {
    margin-bottom: 200upx !important;
}

.mb-11 {
    margin-bottom: 220upx !important;
}

.mb-12 {
    margin-bottom: 240upx !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-0 {
    margin-left: 0upx !important;
}

.ml-1 {
    margin-left: 20upx !important;
}

.ml-2 {
    margin-left: 40upx !important;
}

.ml-3 {
    margin-left: 60upx !important;
}

.ml-4 {
    margin-left: 80upx !important;
}

.ml-5 {
    margin-left: 100upx !important;
}

.ml-6 {
    margin-left: 120upx !important;
}

.ml-7 {
    margin-left: 140upx !important;
}

.ml-8 {
    margin-left: 160upx !important;
}

.ml-9 {
    margin-left: 180upx !important;
}

.ml-10 {
    margin-left: 200upx !important;
}

.ml-11 {
    margin-left: 220upx !important;
}

.ml-12 {
    margin-left: 240upx !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ms-0 {
    margin-left: 0upx !important;
}

.ms-0 {
    margin-right: 0upx !important;
}

.ms-1 {
    margin-left: 20upx !important;
}

.ms-1 {
    margin-right: 20upx !important;
}

.ms-2 {
    margin-left: 40upx !important;
}

.ms-2 {
    margin-right: 40upx !important;
}

.ms-3 {
    margin-left: 60upx !important;
}

.ms-3 {
    margin-right: 60upx !important;
}

.ms-4 {
    margin-left: 80upx !important;
}

.ms-4 {
    margin-right: 80upx !important;
}

.ms-5 {
    margin-left: 100upx !important;
}

.ms-5 {
    margin-right: 100upx !important;
}

.ms-6 {
    margin-left: 120upx !important;
}

.ms-6 {
    margin-right: 120upx !important;
}

.ms-7 {
    margin-left: 140upx !important;
}

.ms-7 {
    margin-right: 140upx !important;
}

.ms-8 {
    margin-left: 160upx !important;
}

.ms-8 {
    margin-right: 160upx !important;
}

.ms-9 {
    margin-left: 180upx !important;
}

.ms-9 {
    margin-right: 180upx !important;
}

.ms-10 {
    margin-left: 200upx !important;
}

.ms-10 {
    margin-right: 200upx !important;
}

.ms-11 {
    margin-left: 220upx !important;
}

.ms-11 {
    margin-right: 220upx !important;
}

.ms-12 {
    margin-left: 240upx !important;
}

.ms-12 {
    margin-right: 240upx !important;
}

.ms-auto {
    margin-left: auto !important;
}

.ms-auto {
    margin-right: auto !important;
}

.me-0 {
    margin-right: 0upx !important;
}

.me-0 {
    margin-left: 0upx !important;
}

.me-1 {
    margin-right: 20upx !important;
}

.me-1 {
    margin-left: 20upx !important;
}

.me-2 {
    margin-right: 40upx !important;
}

.me-2 {
    margin-left: 40upx !important;
}

.me-3 {
    margin-right: 60upx !important;
}

.me-3 {
    margin-left: 60upx !important;
}

.me-4 {
    margin-right: 80upx !important;
}

.me-4 {
    margin-left: 80upx !important;
}

.me-5 {
    margin-right: 100upx !important;
}

.me-5 {
    margin-left: 100upx !important;
}

.me-6 {
    margin-right: 120upx !important;
}

.me-6 {
    margin-left: 120upx !important;
}

.me-7 {
    margin-right: 140upx !important;
}

.me-7 {
    margin-left: 140upx !important;
}

.me-8 {
    margin-right: 160upx !important;
}

.me-8 {
    margin-left: 160upx !important;
}

.me-9 {
    margin-right: 180upx !important;
}

.me-9 {
    margin-left: 180upx !important;
}

.me-10 {
    margin-right: 200upx !important;
}

.me-10 {
    margin-left: 200upx !important;
}

.me-11 {
    margin-right: 220upx !important;
}

.me-11 {
    margin-left: 220upx !important;
}

.me-12 {
    margin-right: 240upx !important;
}

.me-12 {
    margin-left: 240upx !important;
}

.me-auto {
    margin-right: auto !important;
}

.me-auto {
    margin-left: auto !important;
}

.ma-n1 {
    margin: -100upx !important;
}

.ma-n2 {
    margin: -200upx !important;
}

.ma-n3 {
    margin: -60upx !important;
}

.ma-n4 {
    margin: -80upx !important;
}

.ma-n5 {
    margin: -100upx !important;
}

.ma-n6 {
    margin: -120upx !important;
}

.ma-n7 {
    margin: -140upx !important;
}

.ma-n8 {
    margin: -160upx !important;
}

.ma-n9 {
    margin: -180upx !important;
}

.ma-n10 {
    margin: -200upx !important;
}

.ma-n11 {
    margin: -220upx !important;
}

.ma-n12 {
    margin: -240upx !important;
}

.mx-n1 {
    margin-right: -20upx !important;
    margin-left: -20upx !important;
}

.mx-n2 {
    margin-right: -40upx !important;
    margin-left: -40upx !important;
}

.mx-n3 {
    margin-right: -60upx !important;
    margin-left: -60upx !important;
}

.mx-n4 {
    margin-right: -80upx !important;
    margin-left: -80upx !important;
}

.mx-n5 {
    margin-right: -100upx !important;
    margin-left: -100upx !important;
}

.mx-n6 {
    margin-right: -120upx !important;
    margin-left: -120upx !important;
}

.mx-n7 {
    margin-right: -140upx !important;
    margin-left: -140upx !important;
}

.mx-n8 {
    margin-right: -160upx !important;
    margin-left: -160upx !important;
}

.mx-n9 {
    margin-right: -180upx !important;
    margin-left: -180upx !important;
}

.mx-n10 {
    margin-right: -200upx !important;
    margin-left: -200upx !important;
}

.mx-n11 {
    margin-right: -220upx !important;
    margin-left: -220upx !important;
}

.mx-n12 {
    margin-right: -240upx !important;
    margin-left: -240upx !important;
}

.my-n1 {
    margin-top: -20upx !important;
    margin-bottom: -20upx !important;
}

.my-n2 {
    margin-top: -40upx !important;
    margin-bottom: -40upx !important;
}

.my-n3 {
    margin-top: -60upx !important;
    margin-bottom: -60upx !important;
}

.my-n4 {
    margin-top: -80upx !important;
    margin-bottom: -80upx !important;
}

.my-n5 {
    margin-top: -100upx !important;
    margin-bottom: -100upx !important;
}

.my-n6 {
    margin-top: -120upx !important;
    margin-bottom: -120upx !important;
}

.my-n7 {
    margin-top: -140upx !important;
    margin-bottom: -140upx !important;
}

.my-n8 {
    margin-top: -160upx !important;
    margin-bottom: -160upx !important;
}

.my-n9 {
    margin-top: -180upx !important;
    margin-bottom: -180upx !important;
}

.my-n10 {
    margin-top: -200upx !important;
    margin-bottom: -200upx !important;
}

.my-n11 {
    margin-top: -220upx !important;
    margin-bottom: -220upx !important;
}

.my-n12 {
    margin-top: -240upx !important;
    margin-bottom: -240upx !important;
}

.mt-n1 {
    margin-top: -20upx !important;
}

.mt-n2 {
    margin-top: -40upx !important;
}

.mt-n3 {
    margin-top: -60upx !important;
}

.mt-n4 {
    margin-top: -80upx !important;
}

.mt-n5 {
    margin-top: -100upx !important;
}

.mt-n6 {
    margin-top: -120upx !important;
}

.mt-n7 {
    margin-top: -140upx !important;
}

.mt-n8 {
    margin-top: -160upx !important;
}

.mt-n9 {
    margin-top: -180upx !important;
}

.mt-n10 {
    margin-top: -200upx !important;
}

.mt-n11 {
    margin-top: -220upx !important;
}

.mt-n12 {
    margin-top: -240upx !important;
}

.mr-n1 {
    margin-right: -20upx !important;
}

.mr-n2 {
    margin-right: -40upx !important;
}

.mr-n3 {
    margin-right: -60upx !important;
}

.mr-n4 {
    margin-right: -80upx !important;
}

.mr-n5 {
    margin-right: -100upx !important;
}

.mr-n6 {
    margin-right: -120upx !important;
}

.mr-n7 {
    margin-right: -140upx !important;
}

.mr-n8 {
    margin-right: -160upx !important;
}

.mr-n9 {
    margin-right: -180upx !important;
}

.mr-n10 {
    margin-right: -200upx !important;
}

.mr-n11 {
    margin-right: -220upx !important;
}

.mr-n12 {
    margin-right: -240upx !important;
}

.mb-n1 {
    margin-bottom: -20upx !important;
}

.mb-n2 {
    margin-bottom: -40upx !important;
}

.mb-n3 {
    margin-bottom: -60upx !important;
}

.mb-n4 {
    margin-bottom: -80upx !important;
}

.mb-n5 {
    margin-bottom: -100upx !important;
}

.mb-n6 {
    margin-bottom: -120upx !important;
}

.mb-n7 {
    margin-bottom: -140upx !important;
}

.mb-n8 {
    margin-bottom: -160upx !important;
}

.mb-n9 {
    margin-bottom: -180upx !important;
}

.mb-n10 {
    margin-bottom: -200upx !important;
}

.mb-n11 {
    margin-bottom: -220upx !important;
}

.mb-n12 {
    margin-bottom: -240upx !important;
}

.ml-n1 {
    margin-left: -20upx !important;
}

.ml-n2 {
    margin-left: -40upx !important;
}

.ml-n3 {
    margin-left: -60upx !important;
}

.ml-n4 {
    margin-left: -80upx !important;
}

.ml-n5 {
    margin-left: -100upx !important;
}

.ml-n6 {
    margin-left: -120upx !important;
}

.ml-n7 {
    margin-left: -140upx !important;
}

.ml-n8 {
    margin-left: -160upx !important;
}

.ml-n9 {
    margin-left: -180upx !important;
}

.ml-n10 {
    margin-left: -200upx !important;
}

.ml-n11 {
    margin-left: -220upx !important;
}

.ml-n12 {
    margin-left: -240upx !important;
}

.ms-n1 {
    margin-left: -20upx !important;
}

.ms-n1 {
    margin-right: -20upx !important;
}

.ms-n2 {
    margin-left: -40upx !important;
}

.ms-n2 {
    margin-right: -40upx !important;
}

.ms-n3 {
    margin-left: -60upx !important;
}

.ms-n3 {
    margin-right: -60upx !important;
}

.ms-n4 {
    margin-left: -80upx !important;
}

.ms-n4 {
    margin-right: -80upx !important;
}

.ms-n5 {
    margin-left: -100upx !important;
}

.ms-n5 {
    margin-right: -100upx !important;
}

.ms-n6 {
    margin-left: -120upx !important;
}

.ms-n6 {
    margin-right: -120upx !important;
}

.ms-n7 {
    margin-left: -140upx !important;
}

.ms-n7 {
    margin-right: -140upx !important;
}

.ms-n8 {
    margin-left: -160upx !important;
}

.ms-n8 {
    margin-right: -160upx !important;
}

.ms-n9 {
    margin-left: -180upx !important;
}

.ms-n9 {
    margin-right: -180upx !important;
}

.ms-n10 {
    margin-left: -200upx !important;
}

.ms-n10 {
    margin-right: -200upx !important;
}

.ms-n11 {
    margin-left: -220upx !important;
}

.ms-n11 {
    margin-right: -220upx !important;
}

.ms-n12 {
    margin-left: -240upx !important;
}

.ms-n12 {
    margin-right: -240upx !important;
}

.me-n1 {
    margin-right: -20upx !important;
}

.me-n1 {
    margin-left: -20upx !important;
}

.me-n2 {
    margin-right: -40upx !important;
}

.me-n2 {
    margin-left: -40upx !important;
}

.me-n3 {
    margin-right: -60upx !important;
}

.me-n3 {
    margin-left: -60upx !important;
}

.me-n4 {
    margin-right: -80upx !important;
}

.me-n4 {
    margin-left: -80upx !important;
}

.me-n5 {
    margin-right: -100upx !important;
}

.me-n5 {
    margin-left: -100upx !important;
}

.me-n6 {
    margin-right: -120upx !important;
}

.me-n6 {
    margin-left: -120upx !important;
}

.me-n7 {
    margin-right: -140upx !important;
}

.me-n7 {
    margin-left: -140upx !important;
}

.me-n8 {
    margin-right: -160upx !important;
}

.me-n8 {
    margin-left: -160upx !important;
}

.me-n9 {
    margin-right: -180upx !important;
}

.me-n9 {
    margin-left: -180upx !important;
}

.me-n10 {
    margin-right: -200upx !important;
}

.me-n10 {
    margin-left: -200upx !important;
}

.me-n11 {
    margin-right: -220upx !important;
}

.me-n11 {
    margin-left: -220upx !important;
}

.me-n12 {
    margin-right: -240upx !important;
}

.me-n12 {
    margin-left: -240upx !important;
}

.pa-0 {
    padding: 0upx !important;
}

.pa-1 {
    padding: 20upx !important;
}

.pa-2 {
    padding: 40upx !important;
}

.pa-3 {
    padding: 60upx !important;
}

.pa-4 {
    padding: 80upx !important;
}

.pa-5 {
    padding: 100upx !important;
}

.pa-6 {
    padding: 120upx !important;
}

.pa-7 {
    padding: 140upx !important;
}

.pa-8 {
    padding: 160upx !important;
}

.pa-9 {
    padding: 180upx !important;
}

.pa-10 {
    padding: 200upx !important;
}

.pa-11 {
    padding: 220upx !important;
}

.pa-12 {
    padding: 240upx !important;
}

.px-0 {
    padding-right: 0upx !important;
    padding-left: 0upx !important;
}

.px-1 {
    padding-right: 20upx !important;
    padding-left: 20upx !important;
}

.px-2 {
    padding-right: 40upx !important;
    padding-left: 40upx !important;
}

.px-3 {
    padding-right: 60upx !important;
    padding-left: 60upx !important;
}

.px-4 {
    padding-right: 80upx !important;
    padding-left: 80upx !important;
}

.px-5 {
    padding-right: 100upx !important;
    padding-left: 100upx !important;
}

.px-6 {
    padding-right: 120upx !important;
    padding-left: 120upx !important;
}

.px-7 {
    padding-right: 140upx !important;
    padding-left: 140upx !important;
}

.px-8 {
    padding-right: 160upx !important;
    padding-left: 160upx !important;
}

.px-9 {
    padding-right: 180upx !important;
    padding-left: 180upx !important;
}

.px-10 {
    padding-right: 200upx !important;
    padding-left: 200upx !important;
}

.px-11 {
    padding-right: 220upx !important;
    padding-left: 220upx !important;
}

.px-12 {
    padding-right: 240upx !important;
    padding-left: 240upx !important;
}

.py-0 {
    padding-top: 0upx !important;
    padding-bottom: 0upx !important;
}

.py-1 {
    padding-top: 20upx !important;
    padding-bottom: 20upx !important;
}

.py-2 {
    padding-top: 40upx !important;
    padding-bottom: 40upx !important;
}

.py-3 {
    padding-top: 60upx !important;
    padding-bottom: 60upx !important;
}

.py-4 {
    padding-top: 80upx !important;
    padding-bottom: 80upx !important;
}

.py-5 {
    padding-top: 100upx !important;
    padding-bottom: 100upx !important;
}

.py-6 {
    padding-top: 120upx !important;
    padding-bottom: 120upx !important;
}

.py-7 {
    padding-top: 140upx !important;
    padding-bottom: 140upx !important;
}

.py-8 {
    padding-top: 160upx !important;
    padding-bottom: 160upx !important;
}

.py-9 {
    padding-top: 180upx !important;
    padding-bottom: 180upx !important;
}

.py-10 {
    padding-top: 200upx !important;
    padding-bottom: 200upx !important;
}

.py-11 {
    padding-top: 220upx !important;
    padding-bottom: 220upx !important;
}

.py-12 {
    padding-top: 240upx !important;
    padding-bottom: 240upx !important;
}

.pt-0 {
    padding-top: 0upx !important;
}

.pt-1 {
    padding-top: 20upx !important;
}

.pt-2 {
    padding-top: 40upx !important;
}

.pt-3 {
    padding-top: 60upx !important;
}

.pt-4 {
    padding-top: 80upx !important;
}

.pt-5 {
    padding-top: 100upx !important;
}

.pt-6 {
    padding-top: 120upx !important;
}

.pt-7 {
    padding-top: 140upx !important;
}

.pt-8 {
    padding-top: 160upx !important;
}

.pt-9 {
    padding-top: 180upx !important;
}

.pt-10 {
    padding-top: 200upx !important;
}

.pt-11 {
    padding-top: 220upx !important;
}

.pt-12 {
    padding-top: 240upx !important;
}

.pr-0 {
    padding-right: 0upx !important;
}

.pr-1 {
    padding-right: 20upx !important;
}

.pr-2 {
    padding-right: 40upx !important;
}

.pr-3 {
    padding-right: 60upx !important;
}

.pr-4 {
    padding-right: 80upx !important;
}

.pr-5 {
    padding-right: 100upx !important;
}

.pr-6 {
    padding-right: 120upx !important;
}

.pr-7 {
    padding-right: 140upx !important;
}

.pr-8 {
    padding-right: 160upx !important;
}

.pr-9 {
    padding-right: 180upx !important;
}

.pr-10 {
    padding-right: 200upx !important;
}

.pr-11 {
    padding-right: 220upx !important;
}

.pr-12 {
    padding-right: 240upx !important;
}

.pb-0 {
    padding-bottom: 0upx !important;
}

.pb-1 {
    padding-bottom: 20upx !important;
}

.pb-2 {
    padding-bottom: 40upx !important;
}

.pb-3 {
    padding-bottom: 60upx !important;
}

.pb-4 {
    padding-bottom: 80upx !important;
}

.pb-5 {
    padding-bottom: 100upx !important;
}

.pb-6 {
    padding-bottom: 120upx !important;
}

.pb-7 {
    padding-bottom: 140upx !important;
}

.pb-8 {
    padding-bottom: 160upx !important;
}

.pb-9 {
    padding-bottom: 180upx !important;
}

.pb-10 {
    padding-bottom: 200upx !important;
}

.pb-11 {
    padding-bottom: 220upx !important;
}

.pb-12 {
    padding-bottom: 240upx !important;
}

.pl-0 {
    padding-left: 0upx !important;
}

.pl-1 {
    padding-left: 20upx !important;
}

.pl-2 {
    padding-left: 40upx !important;
}

.pl-3 {
    padding-left: 60upx !important;
}

.pl-4 {
    padding-left: 80upx !important;
}

.pl-5 {
    padding-left: 100upx !important;
}

.pl-6 {
    padding-left: 120upx !important;
}

.pl-7 {
    padding-left: 140upx !important;
}

.pl-8 {
    padding-left: 160upx !important;
}

.pl-9 {
    padding-left: 180upx !important;
}

.pl-10 {
    padding-left: 200upx !important;
}

.pl-11 {
    padding-left: 220upx !important;
}

.pl-12 {
    padding-left: 240upx !important;
}

.ps-0 {
    padding-left: 0upx !important;
}

.ps-0 {
    padding-right: 0upx !important;
}

.ps-1 {
    padding-left: 20upx !important;
}

.ps-1 {
    padding-right: 20upx !important;
}

.ps-2 {
    padding-left: 40upx !important;
}

.ps-2 {
    padding-right: 40upx !important;
}

.ps-3 {
    padding-left: 60upx !important;
}

.ps-3 {
    padding-right: 60upx !important;
}

.ps-4 {
    padding-left: 80upx !important;
}

.ps-4 {
    padding-right: 80upx !important;
}

.ps-5 {
    padding-left: 100upx !important;
}

.ps-5 {
    padding-right: 100upx !important;
}

.ps-6 {
    padding-left: 120upx !important;
}

.ps-6 {
    padding-right: 120upx !important;
}

.ps-7 {
    padding-left: 140upx !important;
}

.ps-7 {
    padding-right: 140upx !important;
}

.ps-8 {
    padding-left: 160upx !important;
}

.ps-8 {
    padding-right: 160upx !important;
}

.ps-9 {
    padding-left: 180upx !important;
}

.ps-9 {
    padding-right: 180upx !important;
}

.ps-10 {
    padding-left: 200upx !important;
}

.ps-10 {
    padding-right: 200upx !important;
}

.ps-11 {
    padding-left: 220upx !important;
}

.ps-11 {
    padding-right: 220upx !important;
}

.ps-12 {
    padding-left: 240upx !important;
}

.ps-12 {
    padding-right: 240upx !important;
}

.pe-0 {
    padding-right: 0upx !important;
}

.pe-0 {
    padding-left: 0upx !important;
}

.pe-1 {
    padding-right: 20upx !important;
}

.pe-1 {
    padding-left: 20upx !important;
}

.pe-2 {
    padding-right: 40upx !important;
}

.pe-2 {
    padding-left: 40upx !important;
}

.pe-3 {
    padding-right: 60upx !important;
}

.pe-3 {
    padding-left: 60upx !important;
}

.pe-4 {
    padding-right: 80upx !important;
}

.pe-4 {
    padding-left: 80upx !important;
}

.pe-5 {
    padding-right: 100upx !important;
}

.pe-5 {
    padding-left: 100upx !important;
}

.pe-6 {
    padding-right: 120upx !important;
}

.pe-6 {
    padding-left: 120upx !important;
}

.pe-7 {
    padding-right: 140upx !important;
}

.pe-7 {
    padding-left: 140upx !important;
}

.pe-8 {
    padding-right: 160upx !important;
}

.pe-8 {
    padding-left: 160upx !important;
}

.pe-9 {
    padding-right: 180upx !important;
}

.pe-9 {
    padding-left: 180upx !important;
}

.pe-10 {
    padding-right: 200upx !important;
}

.pe-10 {
    padding-left: 200upx !important;
}

.pe-11 {
    padding-right: 220upx !important;
}

.pe-11 {
    padding-left: 220upx !important;
}

.pe-12 {
    padding-right: 240upx !important;
}

.pe-12 {
    padding-left: 240upx !important;
}